html {
    color: white;
    font-family:  monospace;
    background-color: black;
    font-size: 18px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#text-wrapper {
    position: absolute;
    bottom: 30px;
    left: 8px;
    width: calc(100vw - 16px);
    background-color: black;
    color: white;
    font-size: 18px;
}

.text-char {
    display: inline-block;
    font-size: 18px;
    height: 100%;
    cursor: default;
}

.caret {
    display: inline-block;
    background-color: white;
    color: black;
    height: 100%;
    font-size: 18px;
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        background-color: white;
        color: black;
    }
    50% {
        background-color: white;
        color: black;
    }
    50.01% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: black;
        color: white;
    }
}

#Setting {
    width: 300px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.setting-item {
    color: white;
    outline: none;
    cursor: default;
    width: 100%;
}
.setting-item:hover {
    background-color: rgb(49, 49, 49);
}

.setting-item-state {
    display: inline-block;
    cursor: default;
    right: 0px;
    position: absolute;
}

#setting-close {
    display: inline-block;
    position: absolute;
    right: 0px;
    margin-right: 0px;
    cursor: default;
}

#setting-close:hover {
    background-color: white;
    color: black;
}

#StatusBar {
    background-color: white;
    width: calc(100vw - 16px);
    position: absolute;
    left: 8px;
    bottom: 8px;
    color: black;
    font-weight: 900;
}
